/* You can add global styles to this file, and also import other style files */
:root {
    color-scheme: light dark;
}

:root {
--background-color: #ffffff;
--primary-color: #00a2ff;
--secondary-color: #10b3a3;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


